/* add custom CSS here */

/* Standard Customized */

/* jost-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Jost';
  font-style: normal;
  font-weight: 300;
  src: url('./fonts/jost-v15-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* jost-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/jost-v15-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* jost-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Jost';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/jost-v15-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* jost-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Jost';
  font-style: normal;
  font-weight: 600;
  src: url('./fonts/jost-v15-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* jost-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Jost';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/jost-v15-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html {
  font-family: 'Jost',sans-serif!important;
}

body {
  font-family: 'Jost',sans-serif!important;
}

.category {
  color: #007772!important;
}

.powered-by {
  display:none!important;
}

header{
  /*display: none!important;*/
  background: #001f25!important;
}

.header-icon {
  display: none!important;
}

body {
  background: #001f25!important;
}

.job-container {
  background: #001f25!important;
}

.job-container .job-title {
  color: white;
}

.job-description-text {
  color: white;
}

.open-positions-text {
  color: white!important;
  font-size: 1.4em!important;
}

app-sidebar {
  background: white!important;
}

.background {
  background: #001f25!important;
}

.bhi-print {
  display: none;
}

#apply-button:hover {
  background: #009c95!important;
}

.job-description-text p {
  font-size: 1.2em!important;
  font-weight: 300!important;
}

.job-description-text li {
  font-size: 1.2em!important;
  font-weight: 300!important;
}

.job-title {
  font-size: 2.5em!important;
}

[field="address(state)"] {
  display:none!important;
}

.filter-header {
  font-size: 16px!important;
}

a:hover {
  color: #F2B724!important;
}

[icon="bhi-print"] {
  display:none!important;
}

.bhi-checkbox-filled {
  color: white!important;
}

/*::selection {
  background: #F2B724!important;
  opacity: 0.5;
}*/

.header-title {
  font-size: 16px!important;
}

app-sidebar {
  background-color: #001f25!important;
}

[_ngcontent-serverapp-c99] {
  color: #fff!important;
}

label > span {
  color: #fff!important;
}

label.boxed > span {
  color: black!important;
}

.filter-header {
  color: #fff!important;
}

.bhi-times {
  color: #fff!important;
}

a {
  color: #007772 !important;
}

button {
  color: #007772 !important;
  font-weight: 500!important;
}

button[color=positive] {
  background-color: #007772 !important;
  color: #fff!important;
  font-weight: 500!important;
}

button[color=positive]:hover {
  color: #fff!important;
}

button[theme=primary] {
  background: #007772 !important;
  color: #fff!important;
  font-weight: 500!important;
}

button[theme=primary]:hover {
  background-color: white!important;
  color: black!important;
}

button[theme=dialogue] {
  background: transparent!important;
  font-weight: 500!important;
}

button[theme=dialogue]:hover {
  background-color: white!important;
}

.bhi-times:hover {
  color: black!important;
}

.link {
  color: #007772 !important;
}

.novo-file-input .file-input-group .active :hover {
  border: 2px dashed #007772 !important;
}

li {
  color: #fff!important;
}

h1 {
  font-weight: 700!important;
  font-size: 2.3em!important;
}

@media (max-width: 768px) {
  h1 {
    font-weight: 700!important;
    font-size: 1.8em!important;
  }

  img {
    max-width: 100%!important;
  }
}

novo-search {
  padding: 32px 17px 17px!important;
}

/*Datenschutz und Impressum Seite*/
.content {
  margin-right: 12rem!important;
}

.content h2 {
  font-size: 3.5em!important;
  font-weight: 700!important;
}

.content h3 {
  font-size: 3.5em!important;
  padding: 0!important;
}

.content p {
  font-size: 1.2em!important;
  font-weight: 300!important;
}

.content li {
  font-size: 1.2em!important;
  font-weight: 300!important;
}

h6 {
  font-size: 1.3em!important;
}

.zuruck-button {
  margin-top: 2.5em!important;
}

/*Impressum und Datenschutz Links*/
.privacy-policy-link {
  color: white!important;
  font-weight:400!important;
}

.privacy-policy-link:hover {
  color: #c7c8c9!important;
}

/*Job-Detail-Seite: Share-Button*/
[icon="bhi-share"] {
  color: white!important;
}

button:hover {
  color: black!important;
  background-color: white!important;
}

/*Job-Card Corporate Design*/

/*.job-card {
  background: white!important;
}

.job-card:hover {
  box-shadow: -1px 1px 5px 2px white!important;
}*/

.job-card {
  border-bottom: 2px solid white !important;
}

.job-card:hover {
  background: rgba(255, 255, 255, 0.3)!important;
}

.category {
  color: white!important;
  font-size: 17px!important;
  margin-top: 10px!important;
}

.description {
  color: white!important;
}

h6 > a {
  color: white!important;
  font-size: 1.4em!important;
}

h6 > a:hover {
  color: #c7c8c9!important;
}

novo-list-item {
  background-color: transparent!important;
}

/* Suchzeile Customizing */
.bhi-search:hover {
  color: black!important;
}

button[theme=fab][icon=bhi-search] {
  height: 37px!important;
}
/* Anpassung WeMatch Logo */

.bullhorn {
  margin-top: 20px!important;
}

/* Bewerben-Popup Customizing */

[for="consent"] > .bhi-checkbox-filled {
  color: #007772!important;
}

[data-automation-id="apply-modal-save"] {
  border: 1px solid #007772!important
}

[data-automation-id="apply-modal-save"]:hover {
  border: 1px solid black!important;
  background-color: #007772!important;
  color: #fff!important;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px!important;
}

[_nghost-serverApp-c104] section[_ngcontent-serverapp-c104] {
  height: calc(100vh - 260px)!important;
}

@media (max-height: 800px), only screen and (max-width: 768px)/* and (min-height: 700px)*/ {
  [_nghost-serverApp-c104] section[_ngcontent-serverApp-c104] {
    max-width: 570px!important;
    padding-top: 5px!important;
  }
}

@media (max-width: 480px) {
  .chip {
    display:none!important;
  }
}

.novo-control-inner-input-container {
  max-height: 13em!important;
}

app-sidebar novo-check-list {
  max-height: 13em!important;
}
