/* add custom CSS here */

/* Standard Customized */
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700&display=swap');

body {
  font-family: 'Jost',sans-serif;
}

.category {
  color: #007772!important;
}

.powered-by {
  display:none!important;
}

header{
  /*display: none!important;*/
  background: #001f25!important;
}

.header-icon {
  display: none!important;
}

body {
  background: #001f25!important;
}

.job-card {
  background: white!important;
}

.job-container {
  background: #001f25!important;
}

.job-container .job-title {
  color: white;
}

.job-description-text {
  color: white;
}

.open-positions-text {
  color: white!important;
}

app-sidebar {
  background: white!important;
}

.background {
  background: #001f25!important;
}

.bhi-print {
  display: none;
}

#apply-button:hover {
  background: #009c95!important;
}

.job-description-text p {
  font-size: 1.2em!important;
}

.job-title {
  font-size: 2.5em!important;
}

.job-description-text li {
  font-size: 1.2em!important;
}

[field="address(state)"] {
  display:none!important;
}

.filter-header {
  font-size: 16px!important;
}

a:hover {
  color: #F2B724!important;
}

button:hover {
  background: #F2B724!important;
  color: black!important;
}

[icon="bhi-print"] {
  display:none!important;
}

.job-card:hover {
  box-shadow: -1px 1px 5px 2px white!important;
}

.bhi-checkbox-filled {
  color: #F2B724!important;
}

::selection {
  background: #F2B724!important;
  opacity: 0.5;
}

.header-title {
  font-size: 16px!important;
}

app-sidebar {
  background-color: #001f25!important;
}

[_ngcontent-serverapp-c99] {
  color: #fff!important;
}

label > span {
  color: #fff!important;
}

label.boxed > span {
  color: black!important;
}

.filter-header {
  color: #fff!important;
}

.bhi-times {
  color: #fff!important;
}

a {
  color: #007772 !important;
}

button {
  color: #007772 !important;
}

button[color=positive] {
  background-color: #007772 !important;
  color: #fff!important;
}

button[color=positive]:hover {
  color: #fff!important;
}

button[theme=primary] {
  background: #007772 !important;
  color: #fff!important;
}

button[theme=primary]:hover {
  background-color: #F2B724!important;
  color: black!important;
}

button[theme=dialogue] {
  background: transparent!important;
}

button[theme=dialogue]:hover {
  background-color: #F2B724!important;
}

.link {
  color: #007772 !important;
}

.novo-file-input .file-input-group .active :hover {
  border: 2px dashed #007772 !important;
}
